<footer>
    <nav class="contenedor-footer">
        <div class="contenedor_a">
            <a href="#" class="link-footer">Terminos y condiciones</a>
            <a href="#" class="link-footer">Políticas de Privacidad</a>
            <a href="#" class="link-footer">Quiénes somos</a>
            <a href="#" class="link-footer">Qué hacemos</a>
            <a href="#" class="link-footer">Trabaja con nosotros</a>
            
        </div>
        <div class="contenedor_i">
           <a href="#" target="_blank"><i class="icon-footer fab fa-whatsapp"></i></a> 
           <a href="#" target="_blank"><i class="icon-footer fab fa-facebook"></i></a> 
           <a href="#" target="_blank"><i class="icon-footer fab fa-instagram"></i></a> 
        </div>
    </nav>
    <div class="direccion">
        <p>Top Bike S.A. San Martín 444 - Chaco - Argentina</p>
    </div>
</footer>