<header class="contenedor-header">
  <div class="contenedor-logo">
      <a href="/"><img src="/img/logo-white-top-bike.png" alt="logo" class="logo"></a>
    </div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    <nav class="navbar-header">
        <ul class="navbar-lista">
          <a href="#" class="link-menu">NOSOTROS</a>
          <a href="/product" class="link-menu">PRODUCTOS</a>
          <a href="#" class="link-menu">NOVEDADES</a>
          <a href="#ofertas" class="link-menu">OFERTAS</a>
          <a href="#" class="link-menu">EVENTOS</a>
        </ul>
    </nav>
    <div class="i_header">
          <i class="user-menu fas fa-search"></i>
          <a href="/product/cart" class="user-link">
              <i class="user-menu fas fa-shopping-cart"></i>
          </a>
          <label for="check">
            <a href="/user/login">
              <i class="user-menu fas fa-user" id="btn"></i>
            </a>
        </label>
    </div> 
</header>