<header class="contenedor-header">
  <div class="contenedor-logo">
      <a href="/"><img src="/img/logo.png" alt="logo" class="logo"></a>
    </div>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
    <nav class="navbar-header">
        <ul class="navbar-lista">
          <a href="#" class="link-menu">NOSOTROS</a>
          <a href="/product" class="link-menu">PRODUCTOS</a>
          <a href="#" class="link-menu">NOVEDADES</a>
          <a href="#ofertas" class="link-menu">OFERTAS</a>
          <a href="#" class="link-menu">EVENTOS</a>
        </ul>
    </nav>
    <div class="i_header">
          <i class="user-menu fas fa-search"></i>
          <% if (locals.isLogged) { %>
            <label for="check">
              
            <a href="/product/cart/<%= locals.userLogged.id %>" class="user-link">
                <i class="user-menu fas fa-shopping-cart"></i>
            </a>

            <a href="/user/logout">
              <i style="color:red;" class="user-menu fas fa-sign-out-alt" id="btn"></i>
            </a>

            <a href="/user/profile" style="font-size: 10px; color: red;"><%= locals.userLogged.email %> </a>
            <% } else { %>
              <label for="check">
                <a href="/user/login">
                  <i class="user-menu fas fa-user" id="btn"></i>
                </a>
              </label>
            <% } %>
             
      </div> 
</header>