<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.google.com/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>TopBike</title>
</head>
<body>
    <header>
        <div class="logo">
            <i class="fas fa-bicycle"></i>
        </div>
        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="agrupados">
            <i class="fas fa-search"></i>
            <i class="fas fa-user"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </header>
    <main>
         <img src="./img/carrusel.jpg" alt="carrusel" class="carrusel">
         <h3>Ofertas</h3>
        <section>
            <div class="foto-producto">
                <img src="./img/carrusel.jpg" alt="miniatura">
            </div>
            <div>
                <h2>Lorem ipsum, dolor sit amet</h2>
                <p>$123</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>    


        </section>
    </main>

    <footer>

    </footer>
</body>
</html>