<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.google.com/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="shortcut icon" href="./img/favicon-top-bike.ico">
    <title>TopBike</title>
</head>
<body>
    <header>
        <i class="logo fas fa-bicycle"></i>
        <i class="burger fas fa-bars"></i>
        <div class="i_header">
            <i class="fas fa-search"></i>
            <i class="fas fa-user"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </header>
    <main>
        <img src="./img/carrusel.jpg" alt="carrusel" class="carrusel">
        <h3>Ofertas</h3>
        <section>
                <div class="contenedor">
                    <img class="foto-producto" src="./img/carrusel.jpg" alt="miniatura">
                    <div>
                        <h2>Lorem ipsum</h2>
                        <p class="precio">$123</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="contenedor">
                    <img class="foto-producto" src="./img/carrusel.jpg" alt="miniatura">
                    <div>
                        <h2>Lorem ipsum</h2>
                        <p class="precio">$123</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="contenedor">
                    <img class="foto-producto" src="./img/carrusel.jpg" alt="miniatura">
                    <div>
                        <h2>Lorem ipsum</h2>
                        <p class="precio">$123</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div> 
                </div> 
                <button> VER TODAS <i class="fas fa-chevron-right"></i> </button>   
        </section>
        <section>
            <h3>Formas de Pago</h3>
            <div class="metodo-pago">
                <i class="far fa-money-bill-alt"></i>
                <i class="far fa-credit-card"></i>
                <i class="fas fa-university"></i>
            </div>
            <h3>Compra Protegida</h3>
            <div class="metodo-pago">
                <i class="fas fa-home"></i>
                <i class="fas fa-truck"></i>
                <i class="fas fa-lock"></i>
            </div>
        </section>
    </main>
    <footer>
        <nav>
            <div class="contenedor_a">
                <a href="">Terminos y condiciones</a>
                <a href="">Políticas de Privacidad</a>
                <a href="">Quiénes somos</a>
                <a href="">Qué hacemos</a>
                <a href="">Trabaja con nosotros</a>
                <br><br>
                <p>Top Bike S.A</p>
                <p>San Martín 444 - Chaco - Argentina</p>
            </div>
            <div class="contenedor_i">
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </nav>
    </footer>
</body>
</html>