<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.google.com/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="shortcut icon" href="./img/favicon-top-bike.ico">
    <title>TopBike</title>
</head>
<body>
    <header>
        <div class="contenedor-header">
           <div class="contenedor-logo">
               <img src="./img/logo-white-top-bike.png" alt="logo" class="logo">
             </div>
             <div class="burger-menu">
                 <i class="fas fa-bars"></i>
             </div>
             <div class="i_header">
                 <i class="fas fa-search"></i>
                 <i class="fas fa-shopping-cart"></i>
                 <label for="check">
                   <i class="fas fa-user" id="btn"></i>
                 </label>
             </div>
        </div>   
    </header>
    <main>
        <h3 class="cart-titulo">Carrito de Compras</h3>
        <section>
            <div class="cart-contenedor">
                <div class="cart-contenedor-foto">
                    <img class="foto-producto" src="./img/producto1-0.jpg" alt="miniatura">
                </div>
                <div class="cart-detalle">
                    <div>
                        <p class="cart-precio">$ 38.869</p>
                        <p class="cart-precio-anterior">$ 45.729</p>
                        <p class="cart-descripcion">Bicicleta Nordic X1.0</p>     
                    </div>
                    <div class="cart-producto-botones">
                            <div class="cart-stock-comprar">
                                <select name="select">
                                    <option value="value1" selected>1 </option>
                                    <option value="value2" >2</option>
                                    <option value="value3">3</option>
                                </select>
                            </div>
                            <p class="cart-subtotal">Subtotal $ 38.869</p>
                            <div>
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="cart-contenedor">
                <div class="cart-contenedor-foto">
                    <img class="foto-producto" src="./img/producto1-0.jpg" alt="miniatura">
                </div>
                <div class="cart-detalle">
                    <div>
                        <p class="cart-precio">$ 38.869</p>
                        <p class="cart-precio-anterior">$ 45.729</p>
                        <p class="cart-descripcion">Bicicleta Nordic X1.0</p>     
                    </div>
                    <div class="cart-producto-botones">
                            <div class="cart-stock-comprar">
                                <select name="select">
                                    <option value="value1" selected>1 </option>
                                    <option value="value2" >2</option>
                                    <option value="value3">3</option>
                                </select>
                            </div>
                            <p class="cart-subtotal">Subtotal $ 38.869</p>
                            <div>
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="cart-contenedor">
                <div class="cart-contenedor-foto">
                    <img class="foto-producto" src="./img/producto1-0.jpg" alt="miniatura">
                </div>
                <div class="cart-detalle">
                    <div>
                        <p class="cart-precio">$ 38.869</p>
                        <p class="cart-precio-anterior">$ 45.729</p>
                        <p class="cart-descripcion">Bicicleta Nordic X1.0</p>     
                    </div>
                    <div class="cart-producto-botones">
                            <div class="cart-stock-comprar">
                                <select name="select">
                                    <option value="value1" selected>1 </option>
                                    <option value="value2" >2</option>
                                    <option value="value3">3</option>
                                </select>
                            </div>
                            <p class="cart-subtotal">Subtotal $ 38.869</p>
                            <div>
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="cart-contenedor">
                <div class="cart-contenedor-foto">
                    <img class="foto-producto" src="./img/producto1-0.jpg" alt="miniatura">
                </div>
                <div class="cart-detalle">
                    <div>
                        <p class="cart-precio">$ 38.869</p>
                        <p class="cart-precio-anterior">$ 45.729</p>
                        <p class="cart-descripcion">Bicicleta Nordic X1.0</p>     
                    </div>
                    <div class="cart-producto-botones">
                            <div class="cart-stock-comprar">
                                <select name="select">
                                    <option value="value1" selected>1 </option>
                                    <option value="value2" >2</option>
                                    <option value="value3">3</option>
                                </select>
                            </div>
                            <p class="cart-subtotal">Subtotal $ 38.869</p>
                            <div>
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </section>
        <div class="cart-total-resumen">
            <p class="cart-texto-gral">Total General</p>
            <p class="cart-monto-gral">$ 123.456</p>   
        </div>
        <p class="cart-envio">Envío Gratis</p>
        <div class="producto-botones">
            <div class="producto-comprar"> 
                <input  class="boton-pagar" type="button" value="Pagar">
            </div>
            <div class="producto-ver-carrito"> 
                <input  class="boton-ver-carrito" type="button" value="Vaciar Carrito">
            </div>
        </div>  
    </main>
    <footer>
        <nav class="contenedor-footer">
            <div class="contenedor_a">
                <a href="#">Terminos y condiciones</a>
                <a href="#">Políticas de Privacidad</a>
                <a href="#">Quiénes somos</a>
                <a href="#">Qué hacemos</a>
                <a href="#">Trabaja con nosotros</a>
                
            </div>
            <div class="contenedor_i">
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </nav>
        <div class="direccion">
            <p>Top Bike S.A</p>
            <p>San Martín 444 - Chaco - Argentina</p>
        </div>
    </footer>
</body>
</html>