.cart-main {
    margin-top: 10px;
}
.cart-titulo {
    padding: 15px 0px;
    font-size: 1.4em;
    text-align: center;
    color: skyblue;
}
.cart-contenedor-foto{
    width: 40%;
    display: flex;
    align-items: center;
}
.foto-producto{
    height: 80px;
    margin-left: 3px;
}
.cart-contenedor {
    display: flex;
    padding: 5px;
    margin-bottom: 15px;
}
.cart-precio-anterior{
    font-size: 0.9em;
    text-decoration: line-through;
    color: gray;
    display: inline; 
    padding-left: 5px;
}
.cart-precio{
    display: inline;
    font-size: 1.1em;
    color: #FFFFFF;
    font-weight: bold;
}
.cart-detalle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    padding-left: 10px;
}
.cart-descripcion{
    font-size: 0.9em;
    color: #FFFFFF;
    display: flex;
}
.cart-producto-botones{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
}
.cart-subtotal {
    font-size: 0.8em;
    color: #FFFFFF;
}
.fa-trash-alt {
    font-size: 1.3em;
    color:#0099CC;
}
.boton-eliminar{
    color: #0099CC;
    background-color: #0099CC;
    line-height: 1.5;
    color: rgb(221, 194, 194);
    width: 100%; 
    display: inline;
    border-radius: 6px;
    background: transparent;
    border: 2px solid#0099CC;
}
.cart-total-resumen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 5px 0px 5px;
}
.cart-texto-gral, .cart-monto-gral{
    color: white;
    margin-top: 5px;
    display: flex;
    font-weight: bold;
}
.cart-envio{
    color: greenyellow;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0px 22px 5px;
}
.producto-botones{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

/* Views Tablet */
@media(min-width: 768px) {
    .cart-titulo{
        padding: 22px 0px 30px;
        font-size: 1.7em;
    }
    .cart-contenedor{
        justify-content: center;
    }
    .cart-contenedor-foto {
        width: 20%;
    }
    .cart-detalle{
        padding-left: 21px;
    }
    .cart-total-resumen{
        justify-content: space-around;
        margin: 35px 0px 0px;
    }
    .cart-envio{
        margin: 5px 0px 22px 148px;
    }
    .producto-botones{
        width: 90%;
        margin: auto;
    }
}

/* Views Desktop 1200 */
@media(min-width: 1200px) {
    .cart-contenedor{
        margin-bottom: 35px;
    }
    .cart-contenedor-foto{
        width: 13%;
    }
    .cart-detalle{
        width: 50%;
    }
    .cart-envio{
        margin: 5px 0px 23px 253px;
    }
    .producto-botones{
        width: 70%;
    }
}