:root{
    --Naranja: #FF9900;
    --Dark: #202124;
    --Negro: #000000;
    --Blanco: #fff;
}

.product-titulo{
    
    text-align: center;
    margin: 29px 0px;

    text-shadow: -5px 1px 0px var(--Negro);
    font-size: 1.7em;
    padding: 11px 0px 3px;
    letter-spacing: 5px;
    color: var(--Naranja);
    font-weight: 700;
}

.contenedor-product-main{
    display: block;
    width: 95vw;
    margin: auto;
}

#descuento{
    display: inline;
   color: #000000;
   font-size: .8em;
   font-weight: bold;
   background-color: var(--Naranja);
   border-radius: 2px;
   text-align: center;
   margin-top: 8px;
   padding: 3px 5px;
   width: 65px;

   }


.producto-detalle{
    padding: 0px 30px;
}

.foto-grande{
    min-width: 300px;
    background-color: #FFFFFF;
}

.producto-envio{
    font-size: 1em;
    color: var(--Naranja);
    margin: auto;
    width: 80%;
}
.producto-descripcion{
    font-weight: 300;
    font-size: .8em;
    margin: auto;
    width: 80%;
}
.boton-comprar, .boton-ver-carrito, .boton-pagar{
    font-size: 0.8em;
    color: var(--Naranja);
    width: 100%;
    border-radius: 6px;
    background: var(--Negro);
    border: none;
}

.producto-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
.productDetail-section {
    display: flex;
    border-top: 1px solid var(--Orange3);
    border-bottom: 1px solid var(--Orange2);
    padding: 10px;
    margin-left: 20px;
}

.producto-comprar, .producto-ver-carrito{
    width: 80%;
    text-decoration: none;
}
/* Views Tablet */
@media(min-width: 768px){
    .contenedor-product-main{
        display: flex;
       
    }
    .productDetail-section{
        width: 50%;
        
    }
    .producto-detalle{
        width: 50%;
        padding-left: 50px;
    }
    .foto-grande{
        min-width: 400px;
    }
    .producto-descripcion{
        font-weight: 300;
        font-size: small;
        
    }
}

/* Views Desktop: 1440 */
@media(min-width: 1440px){
    .product-titulo{
        margin-left: 11%;
    }
    .productDetail-section{
        margin-left: 10%;
    }
    .foto-grande{
        min-width: 600px;
    }
    .producto-descripcion{
        font-weight: 400;
        font-size: 1.1em;
        
    }

    #precio-anterior{
        font-size: 1.4em;
    }

    .producto-precio{
        font-size: 1.8em;
    }

    #descuento{
    font-size: 1em;

    }

    .boton-comprar, .boton-ver-carrito, .boton-pagar{
        font-size: 1.2em;
    }
}