*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mukta', sans-serif;
}
/* INICIO HEADER */
.contenedor-header {
    display: flex;
    position: fixed;
    background-color: #000000;
}
.contenedor-logo {
    width: 33%;
    display: block;
    margin: auto;
}
.logo {
    width: 100%;
    padding: 5px;
}
.burger-menu {
    width: 33%;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-lista {
    display: none;
}
.i_header {
    width: 33%;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* FIN HEADER */

/* USUARIO */
.contenedor_usuario{
    display: flex;
    align-content: flex-end;
}
#check{
    display: none;
  }
.sidebar {
    position: fixed;
    top: 28px;
    right:-786px; /* esconder menu*/
    width: 0;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    position: relative;
    font-size: 1em;
    color: white;
    text-align: center;
    background: rgb(46, 46, 48);
    user-select: none;
    padding: 20px;
}
label #cancel{
    position: absolute;
    left: 310px;
    top: 17px;
    z-index: 1111;
    font-size: 1.1em;
    color:#75e5f1;
    padding: 4px 9px;
    transition: all .5s ease;
}
.sidebar form{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}
.sidebar form label{
    color: white;
    margin-top: 20px;
    background-color: #02192799;
    font-family: 'DM Mono', monospace;
    font-size: 1em;
    padding-bottom: 3px;
}
.sidebar form input{
    height: 30px;
}
.sidebar form button, .sidebar form [for="check-register"]{
    margin: auto;
    width: 90%;
    border: #75e5f1 solid 1px;
    border-radius: 4px;
    padding: 3px;
    background-color: #021521;
    color: aliceblue;
    font-family: 'DM Mono', monospace;
    height: 54px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar form #password{
    margin-bottom: 50px;
}
.sidebar form h3{
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 40px 0px 20px;
    color: #FFFFFF;
}
button{
    margin: 5px;
    font-weight: bold;
}
label #btn,label #cancel{
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  color: #FFFFFF    ;
  transition: all .5s;
}
#check:checked ~ .sidebar{
  right: 0;
  margin-top: 32px;
  width: 100%;
}
#check:checked ~ #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
  display: none;
}
#check:checked ~ label #cancel{
  display: block;
}
/* TERMINA USUARIO */

/* REGISTRO DE USUARIO */
/* USUARIO */
.contenedor_register{
    display: flex;
    align-content: flex-end;
}
.sidebar-register {
  position: fixed;
  top: 28px;
  right: -786px; /* esconder menu*/
  width: 0;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
.sidebar-register header {
    position: relative;
    font-size: 1em;
    color: white;
    text-align: center;
    background: rgb(46, 46, 48);
    user-select: none;
    padding: 20px;
}
.sidebar-register form{
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px;
}
.sidebar-register form label{
    color: white;
    margin-top: 20px;
    background-color: #02192799;
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    padding-bottom: 3px;
}
.sidebar-register form input{
    height: 30px;
}
.sidebar-register form button{
    margin: auto;
    width: 90%;
    border: #75e5f1 solid 1px;
    border-radius: 4px;
    padding: 3px;
    background-color: #021521;
    color: aliceblue;
    font-family: 'Mukta', sans-serif;
    height: 54px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-register form #password{
    margin-bottom: 50px;
}
.sidebar-register form h3{
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 64px 0px 23px;
    color: #f5f6f7;
}
#check-register{
    display: none;
}
label #btn,label #cancel{
    border-radius: 3px;
    cursor: pointer;
}
label #btn{
    color: #FFFFFF    ;
    transition: all .5s;
}
#check-register:checked ~ .sidebar-register{
    right: 0;
    margin-top: 30px;
    width: 100%;
}
#check-register:checked ~ #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
    display: none;
}
#check-register:checked ~ label #cancel{
    display: block;
}
/* TERMINA REGISTRO USUARIO */

/* INICIO CARRUSEL */
.carrusel-foto{
    width: 100%;
    margin-top: 65px;
}
/* FIN CARRUSEL */

/* MAIN INDEX */
main {
    background-color: #000000;
}
.oferta {
    font-size: 1.5em;
    color: skyblue;
    margin: 5px;
}
.main-index {
    background-color: #000000;
    padding-top: 10px;
}
.contenedor{
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    border-bottom: solid 2px rgb(92, 92, 92);
    padding: 5px 0;
    padding-top: 10px;
}
.contenedor-foto{
    width: 50%;
    margin: 5px;
}
.foto-producto{
    width: 100%;
    border-radius: 10%;
}
.detalle{
    width: 50%;
    padding-top: 10px;
}
.precio-anterior{
    font-size: 1.1em;
    text-decoration: line-through;
    color: gray;
}
#precio-anterior{
    font-size: 1.1em;
    text-decoration: line-through;
    color: gray;
}
.producto-precio{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2px;
    display: inline;
    color: white;
}
.precio{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2px;
    display: inline;
}
.descuento{
    display: inline;
    color: #000000;
    font-size: .8em;
    font-weight: bold;
    background-color: rgb(202, 248, 133);
    border-radius: 2px;
    margin-left: 5px;
}
#descuento{
    display: inline;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(202, 248, 133);
    border-radius: 2px;
}
.descripcion{
    margin-top: 5px;
    font-size: 1em;
    display: block
}
/* FIN MAIN INDEX */

/* INICIO FOOTER*/
.contenedor-footer {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin-top: 2px;
    padding: 15px 5px 5px 5px;
}
.contenedor_a {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contenedor_i {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
}
.direccion {
    background-color: #000000;
    color: #FFFFFF;
    display: block;
    border-top: 10px solid #000000;
    border-bottom: 5px solid #000000;
    padding: 5px;
}
footer section nav div, i{
    padding: 0px 5px 0px;
}
a{
    color:white;
    text-decoration: none;
}
/* FIN FOOTER*/

/* INICIO PRODUCT DETAIL*/
.product-titulo {
    padding-bottom: 15px;
    font-size: 1.5em;
    color: skyblue;
    margin: 5px;
    padding-top: 15px;
}
.contenedor-productDetail {
    background-color: #000000;
    margin-top: 58px;
}
.productDetail-section {
    display: flex;
    width: 100%;
    height: 50%;
    border-top: 2px solid #0099CC;
    border-bottom: 2px solid #0099CC;

}
.productDetail-miniatura{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.productDetail-foto{
    width: 70%;
    display: flex;
}
.foto-chica {
    width: 100%;
    border-radius: 15%;
    padding: 5px;
}
.foto-grande{
    width: 100%;
    border-radius: 10%;
    padding: 5px;
}
.product {
    display: flex;
    align-content: center;
}
.producto-detalle{
    display: block;
    margin: auto;
    width: 95%;
    padding-top: 20px;
}
.product-destacados{
    text-align: center;
    font-size: 1.5em;
    margin: 30px 5px 5px 5px;
    color: skyblue;
    background-color: rgb(46, 46, 48);
}
.producto-envio{
    display: block;
    color: greenyellow;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 0 20px 0;
}
.producto-descripcion{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
}
.boton-comprar, .boton-ver-carrito, .boton-pagar{
    color: #0099CC;
    background-color: #0099CC;
    font-family: inherit;
    font-size: 1em;
    line-height: 2;
    margin: 2px 5px 10px 0px;
    color: white;
    width: 100%; 
    display: inline;
    border-radius: 6px;
    background: transparent;
    border: 2px solid #0099CC;
}
.producto-comprar, .producto-ver-carrito{
    width: 40%;
}
li {
    padding: 2px 0;
    font-size: 1.1em;
    margin-left: 30px;
}
/* FIN PRODUCT DETAIL*/

/* INICIO CART */
.cart-main {
    margin-top: 60px;
}
.cart-titulo {
    padding-bottom: 15px;
    font-size: 1.5em;
    color: skyblue;
    margin: 5px;
    padding-top: 15px;
}
.cart-contenedor-foto{
    width: 30%;
    display: flex;
    align-items: center;
}
.cart-contenedor {
    display: flex;
    padding: 5px;
}
.cart-precio-anterior{
    font-size: 0.9em;
    text-decoration: line-through;
    color: gray;
    display: inline; 
    padding-left: 5px;
}
.cart-precio{
    display: inline;
    font-size: 1.1em;
    color: #FFFFFF;
    font-weight: bold;
}
.cart-detalle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    padding-left: 10px;
}
.cart-descripcion{
    font-size: 0.9em;
    color: #FFFFFF;
    display: flex;
}
.cart-producto-botones{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
}
.cart-subtotal {
    font-size: 0.8em;
    color: #FFFFFF;
}
.fa-trash-alt {
    font-size: 1.3em;
    color:#0099CC;
}
.boton-eliminar{
    color: #0099CC;
    background-color: #0099CC;
    line-height: 1.5;
    color: rgb(221, 194, 194);
    width: 100%; 
    display: inline;
    border-radius: 6px;
    background: transparent;
    border: 2px solid#0099CC;
}
.cart-total-resumen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 5px 0px 5px;
}
.cart-texto-gral, .cart-monto-gral{
    color: white;
    margin-top: 5px;
    display: flex;
    font-weight: bold;
}
.cart-envio{
    color: greenyellow;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0px 10px 5px;
}
.producto-botones{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
/* FIN CART */
@media(min-width: 361px) {
    /* INDEX HEADER */
    .contenedor-header {
        display: flex;
        width: 100vw;
        justify-content: flex-end;
    }
    .logo {
        margin-left: 0;
        padding: 10px;
    }
    .burger-menu {
        display: none;
    }
    .contenedor-logo{
        width: 15%;
        display: flex;
        margin: 0;    
    }
    .i_header {
        width: 15%;
        justify-content: space-around;
        align-items: center;
        padding-right: 20px;
    }
    .navbar-header{
        width: 70%;
        display: flex;
        justify-content: center;
    }
    .navbar-lista {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }
    ul a {
        padding: 0 20px;
        font-size: 1.1em;
    }
    /*FIN INDEX HEADER*/

    /* FOOTER */
    .contenedor-footer {
        padding: 40px 70px;
    }
    .direccion {
        padding-left: 70px;
    }
 
    /*INDEX PRODUCTOS*/
    .index-articulos {
        display: flex;
        flex-wrap: wrap;
    }
    .contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        padding: 40px 0;
        border-bottom: 5px solid rgb(92, 92, 92);
    }
    .oferta {
        font-size: 3em;
        margin: 0;
        padding: 20px 0 0 70px;
    }
    .detalle, .contenedor-foto {
        width: 80%;
    }

    /* LOGIN */
    .sidebar {
        position: fixed;
        top: 28px;
        right:-786px; /* esconder menu*/
        width: 0;
        height: 100%;
        background: #042331;
        transition: all .5s ease;
    }
    #check:checked ~ .sidebar{
        right: 0;
        margin-top: 68px;
        width: 50%;
      }
    label #cancel{
        position: absolute;
        left: 625px;
        top: 17px;
        z-index: 1111;
        font-size: 1.1em;
        color:#75e5f1;
        padding: 4px 9px;
        transition: all .5s ease;
    }
    /* REGISTER */
    #check-register:checked ~ .sidebar-register{
        right: 0;
        margin-top: 68px;
        width: 50%;
    }

    /* PRODUCT DETAIL */
    .productDetail-section {
        padding: 10px;
    }
    .foto-chica{
        padding: 5px 10px;
    }
    .contenedor-productDetail {
        margin-top: 96px;
    }
    .product-titulo {
        font-size: 2em;
        padding: 10px 0 10px 15px;
    }
    .product-destacados {
        font-size: 2.5em;
    }
    .productDetail-section {
        width: 60%;
        height: 50%;
        border-top: 4px solid #0099CC;
        border-bottom: 4px solid #0099CC;
    }
    .producto-detalle {
        width: 40%;
        margin: 0;
        padding-top: 30px;
        
    }
    .contenedor-product-main {
        display: flex;
    }
    #precio-anterior{
        text-decoration: line-through;
        color: gray;    
        font-size: 2em;
        margin-left: 30px;
    }
    .producto-precio {
        font-size: 3.5em;
        margin-left: 30px;
    }
    #descuento {
        display: inline;
        color: #000000;
        font-size: 2em;
        font-weight: bold;
        background-color: rgb(202, 248, 133);
        border-radius: 10px;
        margin-left: 20px;
        padding: 0 10px;

    }
    .producto-descripcion {
        font-size: 1.2em;
    }
    .producto-envio {
        padding: 50px 0 20px 30px;
        font-size: 1.5em;
    }
    .producto-botones {
        padding: 20px 0 40px 0;
    }
    .boton-comprar, .boton-ver-carrito, .boton-pagar {
        font-size: 1.5em;
    }
    li {
        padding: 2px 0;
        font-size: 1.1em;
        margin-left: 30px;
    }
    .boton-comprar,.boton-ver-carrito, .boton-pagar {
        border: 4px solid #0099CC;
    }

    /* CART */
    .cart-main {
        margin-top: 95px;
    }
    .cart-contenedor {
        display: flex;
        justify-content: space-around;
        border-top: solid 2px rgb(92, 92, 92);
        padding: 20px 30px;
        margin: 0 100px;
    }
    .cart-contenedor-foto {
        width: 10%;
    }
    .cart-detalle {
        display: flex;
        flex-direction: row;
        width: 90%;
        font-size: 1.5em;
    }
    .cart-producto-botones {
        display: flex;
        align-items: flex-end;
        align-self: center;
        width: 60%;
        padding: 0;
    }
    .cart-detalle-precios {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
    }
    .cart-precio-anterior {
        margin: 5px 0 0 15px;
        font-size: 0.8em;
    }
    .cart-descripcion {
        display: flex;
        width: 100%;
    }
    .cart-titulo {
        padding-left: 100px;
        font-size: 2.5em;
    }
    .cart-texto-gral, .cart-monto-gral {
        font-size: 2em;
        padding: 5px 80px;
    }
    .cart-envio {
        font-size: 2em;
        padding: 20px 0 0 100px;
    }
    .cart-total-resumen {
        padding:20px;
        margin: 0;
        border-top: solid 2px rgb(92, 92, 92);
    }
}

